@model IEnumerable<CarCleanz.Models.Booking>

<section class="admin-section">
    <h2>?? Booking Details</h2>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Customer Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Vehicle Type</th>
            <th>House Type</th>
            <th>Car Number</th>
            <th>Amount</th>
            <th>Booking Date</th>
        </tr>
    </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                 <tr>
                <td>@booking.Name</td>
                <td>@booking.Phone</td>
                <td>@booking.Address</td>
                <td>@booking.VehicleType</td>
                <td>@booking.HouseType</td>
                <td>@booking.CarNumber</td>
                <td>?@booking.Price</td>
                <td>@booking.BookingDate.ToShortDateString()</td>
            </tr>
            }
        </tbody>
    </table>
</section>