@model IEnumerable<CarCleanz.Models.Booking>

<h2>Booking Records (Admin Panel)</h2>

<table border="1" cellpadding="6" cellspacing="0">
     <thead>
        <tr>
                <td>@booking.Name</td>
                <td>@booking.Phone</td>
                <td>@booking.Address</td>
                <td>@booking.VehicleType</td>
                <td>@booking.HouseType</td>
                <td>@booking.CarNumber</td>
                <td>?@booking.Price</td>
                <td>@booking.BookingDate.ToShortDateString()</td>
            </tr>
    </thead>
    <tbody>
    @foreach (var booking in Model)
    {
        <tr>
                <td>@booking.Name</td>
                <td>@booking.Phone</td>
                <td>@booking.Address</td>
                <td>@booking.VehicleType</td>
                <td>@booking.HouseType</td>
                <td>@booking.CarNumber</td>
                <td>?@booking.Price</td>
                <td>@booking.BookingDate.ToShortDateString()</td>
            </tr>
    }
    </tbody>
</table>